.container {
  position: relative;
  width: 100%;
  height:100%;
}
.imageOne {
  width: 100%;
  height:100%;
}
.imageTwo {
  position: absolute;
  bottom: 10%;
  right: 20%;
  width:90px;
  height:90px;
  
}
.imageThree {
	position:absolute;
	bottom:10%;
	left: 15%;
}

#wrong {
	position:absolute;
	width:200px;
	height:150px;
	right:15%;
	bottom:40%;
	border:2px solid white;
	font-size:30px;
	font-weight:bold;
}

#right {
	position:absolute;
	width:400px;
	height:150px;
	left:10%;
	bottom:50%;
	border:2px solid black;
	font-size:70px; 
	text-align:center; 
	font-weight:bold;
}



#health1 {
	position:absolute;
	width:400px;
	height:10px;
	left:10%;
	bottom:42%;
	background-color:red;
	border:2px solid black;
	
	}

#health2 {
	position:absolute;
	width:200px;
	height:10px;
	right:15%;
	bottom:29%;
	background-color:red;
	border:2px solid black;
	
}